<a href="https://colab.research.google.com/github/dawoodwasif/Customer-Audio-Analytics-of-Accent-and-Sentiment/blob/main/3_Accent_Classification_Prediction_for_UBL_Datathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Installations and Imports

In [4]:
! pip install h2o

Collecting h2o
  Downloading h2o-3.36.0.4.tar.gz (176.2 MB)
     |████████████████████████████████| 176.2 MB 1.7 kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.9)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2021.10.8)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.36.0.4-py2.py3-none-any.whl size=176245474 sha256=62c5d8e3f2d9dadbaef08476185160f34119773bf9c216c9a1c405467e6b3a42
  Stored in directory: /root/.cache/pip/wheels/66/7c/3b/6558f625a9415a96f7f650d33f1def07b6e30b0c871e8407a1
Successfully built h2o
Installing collected packages: h2o
Successfully installed h2o-3.36.0.4

In [20]:
import librosa
import numpy as np
import pandas as pd

### Extract input audio features

In [11]:
path = '/content/farsi1.mp3'
data, sampling_rate = librosa.load(path)

/usr/local/lib/python3.7/dist-packages/librosa/core/audio.py:165: UserWarning: PySoundFile failed. Trying audioread instead.
  warnings.warn("PySoundFile failed. Trying audioread instead.")

In [32]:
result = np.array([])
mel = np.mean(librosa.feature.melspectrogram(y=data, sr=sampling_rate).T, axis=0)
result = np.hstack((result, mel))
l = [77, 80, 65, 72, 63, 52, 87, 76]
l_features = (result[l]).tolist()
col_labels = ['mel77', 'mel80', 'mel65', 'mel72', 'mel63', 'mel52', 'mel87', 'mel76']
df = pd.DataFrame({
    col_labels[0]:[l_features[0]],
    col_labels[1]:[l_features[1]],
    col_labels[2]:[l_features[2]],
    col_labels[3]:[l_features[3]],
    col_labels[4]:[l_features[4]],
    col_labels[5]:[l_features[5]],
    col_labels[6]:[l_features[6]],
    col_labels[7]:[l_features[7]]

})
df.to_csv('/content/feat_pred.csv', index=False)
df.head()

      mel77    mel80    mel65     mel72     mel63    mel52     mel87     mel76
0  0.006209  0.01044  0.01168  0.030538  0.009121  0.01119  0.006598  0.003038

### Export MOJO File and predict

In [19]:
import h2o
h2o.init()

mojo_model = h2o.upload_mojo('/content/GBM_1_AutoML_4_20220401_125304.zip')

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ----------------------------------
H2O_cluster_uptime:         23 mins 30 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.0.4
H2O_cluster_version_age:    1 day
H2O_cluster_name:           H2O_from_python_unknownUser_zfic14
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.172 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.7.13 final
--------------------------  ----------------------------------

generic Model Build progress: |██████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGenericEstimator :  Import MOJO Model
Model Key:  Generic_model_python_1648825446613_1


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,314.0,5024.0,7326778.0,12.0,15.0,14.847532,1.0,136.0,110.548965

ModelMetricsMultinomialGeneric: generic
** Reported on train data. **

MSE: 8.438232196545938e-07
RMSE: 0.0009185985084108257
LogLoss: 0.00018963412315631007
Mean Per-Class Error: 0.0
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

,australia,canada,ghana,india,ireland,kenya,new zealand,nigeria,other,pakistan,philippines,singapore,south africa,tanzania,uk,usa,Error,Rate
0,1386.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"0 / 1,386"
1,0.0,1385.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"0 / 1,385"
2,0.0,0.0,1381.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"0 / 1,381"
3,0.0,0.0,0.0,1383.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"0 / 1,383"
4,0.0,0.0,0.0,0.0,1380.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"0 / 1,380"
5,0.0,0.0,0.0,0.0,0.0,1383.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"0 / 1,383"
6,0.0,0.0,0.0,0.0,0.0,0.0,1385.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"0 / 1,385"
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1382.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"0 / 1,382"
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1387.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"0 / 1,387"
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1383.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"0 / 1,383"
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1382.0,0.0,0.0,0.0,0.0,0.0,0.0,"0 / 1,382"
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1383.0,0.0,0.0,0.0,0.0,0.0,"0 / 1,383"
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1383.0,0.0,0.0,0.0,0.0,"0 / 1,383"
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1383.0,0.0,0.0,0.0,"0 / 1,383"
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1386.0,0.0,0.0,"0 / 1,386"
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1390.0,0.0,"0 / 1,390"
16,1386.0,1385.0,1381.0,1383.0,1380.0,1383.0,1385.0,1382.0,1387.0,1383.0,1382.0,1383.0,1383.0,1383.0,1386.0,1390.0,0.0,"0 / 22,142"

Top-10 Hit Ratios:

    k  hit_ratio
0   1        1.0
1   2        1.0
2   3        1.0
3   4        1.0
4   5        1.0
5   6        1.0
6   7        1.0
7   8        1.0
8   9        1.0
9  10        1.0

ModelMetricsMultinomialGeneric: generic
** Reported on validation data. **

MSE: 0.2378414101288788
RMSE: 0.48768987084916865
LogLoss: 2.6636573856362222
Mean Per-Class Error: 0.6267339355166579
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

,australia,canada,ghana,india,ireland,kenya,new zealand,nigeria,other,pakistan,philippines,singapore,south africa,tanzania,uk,usa,Error,Rate
0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.533333,8 / 15
1,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.700000,14 / 20
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,12 / 12
3,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.709677,22 / 31
4,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,1 / 3
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,2 / 2
6,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0 / 3
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.846154,11 / 13
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,581.0,0.0,0.0,0.0,0.0,0.0,0.0,50.0,0.079239,50 / 631
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.857143,6 / 7
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,5.0,0.0,0.0,0.0,0.0,2.0,0.615385,8 / 13
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.800000,4 / 5
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.250000,1 / 4
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,3 / 3
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,6.0,2.0,0.760000,19 / 25
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,84.0,0.543478,100 / 184
16,7.0,6.0,0.0,9.0,2.0,0.0,3.0,2.0,781.0,1.0,5.0,1.0,3.0,0.0,6.0,145.0,0.268795,261 / 971

Top-10 Hit Ratios:

    k  hit_ratio
0   1   0.731205
1   2   0.898043
2   3   0.923790
3   4   0.938208
4   5   0.953656
5   6   0.957776
6   7   0.969104
7   8   0.976313
8   9   0.982492
9  10   0.985582

ModelMetricsMultinomialGeneric: generic
** Reported on cross-validation data. **

MSE: 0.2304392072967427
RMSE: 0.48004083919677365
LogLoss: 2.803346632135364
Mean Per-Class Error: 0.6672433801115383
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

,australia,canada,ghana,india,ireland,kenya,new zealand,nigeria,other,pakistan,philippines,singapore,south africa,tanzania,uk,usa,Error,Rate
0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.647059,44 / 68
1,0.0,33.0,0.0,0.0,0.0,0.0,0.0,0.0,75.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.707965,80 / 113
2,0.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.645161,20 / 31
3,0.0,0.0,0.0,34.0,0.0,0.0,0.0,0.0,78.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.719008,87 / 121
4,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.758621,22 / 29
5,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.846154,22 / 26
6,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.631579,12 / 19
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.619048,26 / 42
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2735.0,0.0,0.0,0.0,0.0,0.0,0.0,141.0,0.049026,"141 / 2,876"
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0,14.0,0.0,0.0,0.0,0.0,0.0,1.0,0.681818,30 / 44
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,0.0,14.0,0.0,0.0,0.0,0.0,3.0,0.708333,34 / 48
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,10 / 10
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.666667,12 / 18
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,4.0,0.0,1.0,0.692308,9 / 13
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,98.0,0.0,0.0,0.0,0.0,0.0,34.0,8.0,0.757143,106 / 140
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,451.0,0.0,0.0,0.0,0.0,0.0,0.0,375.0,0.546005,451 / 826
16,24.0,33.0,11.0,34.0,7.0,4.0,7.0,16.0,3663.0,14.0,14.0,0.0,6.0,4.0,34.0,553.0,0.250000,"1,106 / 4,424"

Top-10 Hit Ratios:

    k  hit_ratio
0   1   0.750000
1   2   0.893535
2   3   0.924955
3   4   0.938291
4   5   0.951854
5   6   0.961799
6   7   0.969485
7   8   0.974232
8   9   0.978526
9  10   0.983499

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid
0,accuracy,0.749999,0.012805,0.764746,0.741695,0.743555
1,auc,NaN,0.000000,NaN,NaN,NaN
2,err,0.250001,0.012805,0.235254,0.258305,0.256445
3,err_count,368.666660,18.823744,347.000000,381.000000,378.000000
4,logloss,2.803516,0.649487,2.382875,2.476129,3.551543
5,max_per_class_error,1.000000,0.000000,1.000000,1.000000,1.000000
6,mean_per_class_accuracy,0.338093,0.038707,0.366444,0.293994,0.353840
7,mean_per_class_error,0.661907,0.038707,0.633556,0.706006,0.646160
8,mse,0.230441,0.009946,0.218961,0.235899,0.236462
9,pr_auc,NaN,0.000000,NaN,NaN,NaN
10,r2,0.982010,0.000548,0.982640,0.981746,0.981644
11,rmse,0.479967,0.010426,0.467933,0.485694,0.486274

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_classification_error,training_auc,training_pr_auc,validation_rmse,validation_logloss,validation_classification_error,validation_auc,validation_pr_auc
0,,2022-04-01 13:11:15,9 min 44.879 sec,0.0,0.950559,4.295720,0.937359,NaN,NaN,0.599837,1.274170,0.350154,NaN,NaN
1,,2022-04-01 13:11:18,9 min 47.583 sec,5.0,0.902060,2.644982,0.936456,NaN,NaN,0.583034,1.184285,0.352214,NaN,NaN
2,,2022-04-01 13:11:20,9 min 50.005 sec,10.0,0.846794,2.035039,0.932301,NaN,NaN,0.568360,1.149292,0.348095,NaN,NaN
3,,2022-04-01 13:11:22,9 min 52.258 sec,15.0,0.786904,1.638685,0.917894,NaN,NaN,0.556866,1.136092,0.348095,NaN,NaN
4,,2022-04-01 13:11:25,9 min 54.506 sec,20.0,0.724816,1.347081,0.855252,NaN,NaN,0.547374,1.134013,0.341916,NaN,NaN
5,,2022-04-01 13:11:27,9 min 56.734 sec,25.0,0.660987,1.115344,0.744603,NaN,NaN,0.538425,1.133154,0.340886,NaN,NaN
6,,2022-04-01 13:11:29,9 min 59.036 sec,30.0,0.596885,0.926604,0.579803,NaN,NaN,0.531066,1.140567,0.336766,NaN,NaN
7,,2022-04-01 13:11:31,10 min 1.258 sec,35.0,0.535463,0.773045,0.391835,NaN,NaN,0.524694,1.155177,0.330587,NaN,NaN
8,,2022-04-01 13:11:34,10 min 3.435 sec,40.0,0.477109,0.644813,0.264068,NaN,NaN,0.520222,1.170688,0.322348,NaN,NaN
9,,2022-04-01 13:11:36,10 min 5.638 sec,45.0,0.423073,0.537797,0.172703,NaN,NaN,0.515426,1.179207,0.317199,NaN,NaN
10,,2022-04-01 13:11:38,10 min 7.834 sec,50.0,0.373342,0.446616,0.127857,NaN,NaN,0.510210,1.193847,0.313079,NaN,NaN
11,,2022-04-01 13:11:40,10 min 10.168 sec,55.0,0.327015,0.367728,0.089197,NaN,NaN,0.506039,1.210674,0.303811,NaN,NaN
12,,2022-04-01 13:11:43,10 min 12.378 sec,60.0,0.285804,0.301604,0.065622,NaN,NaN,0.501987,1.228040,0.298661,NaN,NaN
13,,2022-04-01 13:11:45,10 min 14.592 sec,65.0,0.247931,0.245224,0.045299,NaN,NaN,0.498143,1.246342,0.293512,NaN,NaN
14,,2022-04-01 13:11:47,10 min 16.815 sec,70.0,0.217015,0.201295,0.031253,NaN,NaN,0.494963,1.265738,0.286303,NaN,NaN
15,,2022-04-01 13:11:49,10 min 19.024 sec,75.0,0.190379,0.165834,0.020685,NaN,NaN,0.491992,1.283087,0.285273,NaN,NaN
16,,2022-04-01 13:11:51,10 min 21.231 sec,80.0,0.167818,0.137447,0.015626,NaN,NaN,0.490634,1.304447,0.279094,NaN,NaN
17,,2022-04-01 13:11:54,10 min 23.440 sec,85.0,0.145579,0.111792,0.011517,NaN,NaN,0.488439,1.325762,0.276004,NaN,NaN
18,,2022-04-01 13:11:56,10 min 25.712 sec,90.0,0.128544,0.092363,0.009123,NaN,NaN,0.485914,1.346932,0.273944,NaN,NaN
19,,2022-04-01 13:11:58,10 min 27.916 sec,95.0,0.112101,0.075381,0.006820,NaN,NaN,0.484385,1.373383,0.271885,NaN,NaN

See the whole table with table.as_data_frame()

Variable Importances:

  variable  relative_importance  scaled_importance  percentage
0    mel87          7826.455078           1.000000    0.178841
1    mel77          7029.137207           0.898125    0.160622
2    mel80          6358.864746           0.812483    0.145305
3    mel76          5575.948730           0.712449    0.127415
4    mel72          5078.534180           0.648893    0.116049
5    mel52          5060.931641           0.646644    0.115647
6    mel65          3919.124023           0.500753    0.089555
7    mel63          2913.053711           0.372206    0.066566

In [36]:
new_observations = h2o.import_file(path='/content/feat_pred.csv')
predictions = mojo_model.predict(new_observations)
predictions

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
generic prediction progress: |███████████████████████████████████████████████████| (done) 100%

predict,australia,canada,ghana,india,ireland,kenya,new zealand,nigeria,other,pakistan,philippines,singapore,south africa,tanzania,uk,usa
other,2.32761e-08,9.97347e-10,7.55691e-15,7.76721e-07,1.31126e-10,2.08405e-15,3.6364e-15,8.11495e-14,0.995739,1.06186e-14,1.998e-14,6.0255e-17,2.12228e-15,7.05324e-16,2.91327e-08,0.00426005